.wrapper {
    padding: 40px;
}

h2 {
    font-size: var(--medium);
    font-weight: var(--font-semi-bold);
    padding-bottom: 40px;
    color: var(--black);
}

p {
    font-size: var(--small);
    font-weight: var(--font-regular);
    padding-bottom: 25px;
    color: var(--black);
    line-height: 35px;
}

.box {
    background: var(--light);
    color: var(--black);
    border-radius: 10px;
    padding: 20px 40px;
    margin: 0 40px 20px 40px;
}

.beerpong {
    background: var(--light);
    color: var(--black);
    border-radius: 10px;
    padding: 20px 40px;
    margin: 0 40px 20px 40px;
}
.date {
    font-size: var(--small);
    font-weight: var(--font-regular);
    color: var(--black);
}

.partyname {
    color: var(--black);
    font-size: var(--small);
    font-weight: var(--font-medium);
}

footer {
    padding: 40px;
    display: flex;
}

.facebook {
    display: flex;
}

.instagram {
    display: flex;
}

.fa-brands.fa-square-facebook {
    color: var(--black);
    font-size: var(--big);
}

.fa-brands.fa-instagram {
    color: var(--black);
    font-size: var(--big);
}
